<?xml version="1.0" encoding="utf-8"?>
<DBConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <List>
        <DBConnSet>
            <Key>db_Financial</Key>
            <ConnString>server=.;database=db_managelabs;user id=sa;password=123456;Connect Timeout=30;Pooling=true;Max Pool Size=100;</ConnString>
        </DBConnSet>
        <DBConnSet>
            <Key>db_Financial_MySql</Key>
            <ConnString>Data Source=119.23.247.180;port=53306;Database=db;User Id=djx_root;Password=mysql@123#test;</ConnString>
        </DBConnSet>
    </List>
</DBConfig>